# Hey so um...
# This isn't for people to read but ya...
# I guess people like to dig into everything
# Anyways, as of when I'm writing this,
# i.e. 23rd December 2025
# This file's main purpose is to basically avoid a copyright strike

# Why you may ask?
# Well, I'm using songs and videos from YouTube to test so ya..

*.mp4
*.wav
# ^^^ These two lines are the lines that kinda protects me for now

# Here literally the next day to add the DB folder in
# Not afraid of copyright for that, just don't want a random
# sqlite3 database full of video sha256s just lying around
db/subtitled_files.db

# Wow, here again literally the next day from the last one
# Guess this joke is getting old but oh well
# Anyways, Merry Christmas I guess, tho we don't really
# Celebrate it but formalities are formalities
# Anyways I was here to add __pycache__
__pycache__
# I'm expecting to be back soon to add java related stuff too
# But for now there's no java here