# Hey so um...
# This isn't for people to read but ya...
# I guess people like to dig into everything
# Anyways, as of when I'm writing this,
# i.e. 23rd December 2025
# This file's main purpose is to basically avoid a copyright strike

# Why you may ask?
# Well, I'm using songs and videos from YouTube to test so ya..

*.mp4
*.wav
# ^^^ These two lines are the lines that kinda protects me for now